.cabeza{
    position: absolute;
    text-align: center;
    width: 100%;
}

button {
    display: block;
    margin: 30px auto;
    max-width: 200px;
    text-decoration: none;
    border-radius: 7px;
    border: 0px;
    padding: 30px 40px;
    background-color: transparent;
    font-size: 17px;

}



#excusa {
    text-align: center;
}